<div class="mb-5">
  <div class="row justify-content-center">
    <div class="col-sm-6 grey-bg p-5 rounded-4">
      <div class="text-center">
        <h1 class="text-center fs-2 py-2">Update my trip</h1>
        <hr>
      </div>

      <%= render "form", trip: @tri %>
    </div>
  </div>
</div>
