// Define variables for your color scheme

// For example:
$red: #FD1015;
$orange: #E67E22;
$green:  rgba(98,182,85,1);
$gray: #1f1f1f;
$light-gray: #F4F4F4;
$blue: #5271FF;
$yellow: #F6C13D;
$dark-grey: #333333;
$gradient-blue: linear-gradient(180deg, rgba(68,187,254,1) 0%, rgba(30,120,254,1) 100%);
$gradient-yellow: linear-gradient(180deg, rgba(255,207,83,1) 0%, rgba(255,153,0,1) 100%);
$gradient-orange: linear-gradient(180deg, rgba(255,146,82,1) 0%, rgba(255,63,21,1) 100%);
$gradient-green: linear-gradient(180deg, rgba(144,223,117,1) 0%, rgba(98,182,85,1) 100%);

