// Define variables for your color scheme

// For example:
$red: #FD1015;
$orange: #F2780C;
$gray: #1f1f1f;
$light-gray: #F4F4F4;
$success: green;
$blue: #5B92D9;
$light-blue: #7EAED9;
$pastel-blue: #C2E0F2;
$yellow: #F2B705;
$dark-grey: #333333;
$gradient-blue: linear-gradient(180deg, $light-blue 0%, $blue 100%);
$gradient-general: linear-gradient(180deg, $orange 0%, $yellow 40%,rgb(255, 251, 183) 60%, white 80%);
$gradient-orange: linear-gradient(180deg, $orange 0%, $yellow 100%);
$gradient-green: linear-gradient(180deg, rgba(144,223,117,1) 0%, rgba(98,182,85,1) 100%);

$gradient-blue-white: linear-gradient(180deg, $blue 0%, white 50%);
