<div class="row pe-2 py-3 my-3 bg-white rounded-4 shadow-sm">
  <div class="col-3">
    <%= cl_image_tag amigo.photo.key, class:"avatar-sm obj-fit", height:50, width:50 %>
  </div>
  <div class="col-9 ps-2 d-flex flex-column justify-content-center align-items-start">
  
    <h6 class="text-secondary"><strong>Account with <%= amigo.first_name %></strong></h6>
    <% if account > 0 %>
      <h6 class="text-success m-0">You gave <%= account %>$<br><span class="fs-3"></h6>
    <% elsif account == 0 %>
      <h6 class="text-success m-0">No transactions to balance</h6>
    <% else %>
      <h6 class="text-danger m-0">You were given <%= account %>$</h6>
    <% end %>
  </div>
</div>