<div class="container-fluid bg-blue text-center full-h">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= cl_image_tag 'https://res.cloudinary.com/laura-latuillerie/image/upload/v1661780859/development/illustration-amigo_h7cj8x.png', height:500 %>
    </div>
    <div class="col-10">
      <%= cl_image_tag 'https://res.cloudinary.com/laura-latuillerie/image/upload/v1661780858/development/logo-amigo_lxuzv7.png', height:100 %>
      <h1 class="text-light fs-2">Moins d'organisation<br>
      <strong><em>Plus de voyages</em></strong></h1>
    </div>
  </div>
</div>
