<div class="bg-blue h-100">
  <div class="row centered-box m-0 h-100">
    <div class="col-lg-6 centered-box flex-column">
      <div class="centered-box flex-column">
        <img src="https://res.cloudinary.com/laura-latuillerie/image/upload/v1/development/logo-amigo_lxuzv7" id="logo">
        <h1 class="text-light fs-2 fw-light text-center">Moins d'organisation<br><span class="fw-bold"><strong><em>Plus de voyages</em></strong></span></h1>
      </div>
      <img src="https://res.cloudinary.com/laura-latuillerie/image/upload/v1/development/illustration-amigo_h7cj8x" id="illustration">
      <div>
        <%= link_to "Discover Amigo", new_user_session_path, class: "btn btn-blue" %>
         <%= link_to "Sign in/up", new_user_session_path, class: "btn btn-second" %>
      </div>
    </div>
  </div>
</div>
