<div class="responsive bg-blue h-100">
  <div class="row centered-box m-0 h-100">
    <div class="col-12 centered-box flex-column">
      <div class="centered-box flex-column pb-3">
        <img src="https://res.cloudinary.com/laura-latuillerie/image/upload/v1662454584/AMIGO_cqpvru.png" id="logo">
        <h1 class="text-light fs-2 fw-light text-center">Moins d'organisation<br><span class="fw-bold"><strong><em>Plus de voyages</em></strong></span></h1>
      </div>
      <img src="https://res.cloudinary.com/laura-latuillerie/image/upload/v1662454585/illustration-amigo_2_co1iev.png" id="illustration">
      <div class="pt-3 pb-5">
        <%= link_to "Discover Amigo", new_user_session_path, class: "btn btn-yellow me-3" %>
         <%= link_to "Sign in/up", new_user_session_path, class: "btn btn-second" %>
      </div>
    </div>
  </div>
</div>
