<div class="bg-blue">
  <div class="row align-items-center justify-content-center vh-100">
    <div class="col-12 d-flex flex-column align-items-center text-center">
      <%= cl_image_tag 'illustration-amigo_h7cj8x', id:"illustration" %>
      <div>
        <%= cl_image_tag 'logo-amigo_lxuzv7', height:100 %>
        <h1 class="text-light fs-2">Moins d'organisation<br>
        <strong><em>Plus de voyages</em></strong></h1>
      </div>
    </div>
  </div>
</div>
