<div class="container h-100">
  <div class="container h-100">
    <div class="row h-100 centered-box">
      <div class="col mb-5">
        <h1 class="text-center my-3">
          Invite an Amigo<br>
          to join you in your Trip 🌺
        </h1>
        <%= form_with url: trip_invite_path, method: :post, class: "d-flex" do %>
          <%= text_field_tag :address,
            params[:address],
            class: "form-control",
            placeholder: "my-amigo@email.com"
          %>
          <%= submit_tag "Invite", class: "btn btn-blue" %>
        <% end %>
        <div class="text-center">
          <%= link_to 'Back', trips_path, class:"btn text-blue mt-4" %>
        </div>
      </div>
    </div>
  </div>
</div>
