<div class="container responsive h-100 my-4 px-2">
  <div class="nav nav-tabs tabs-bank mx-2 mb-4 rounded-4 p-0 row justify-content-between" id="myTab" role="tablist">
    <div class="col-4 nav-item" role="presentation">
      <button class="nav-link active" id="wallet-tab" data-bs-toggle="tab" data-bs-target="#wallet-tab-pane" type="button" role="tab" aria-controls="wallet-tab-pane" aria-selected="true">
        <i class="fa-solid fa-wallet"></i>
      </button>
    </div>
    <div class="col-4 nav-item" role="presentation">
      <button class="nav-link" id="create-bill-tab" data-bs-toggle="tab" data-bs-target="#create-bill-tab-pane" type="button" role="tab" aria-controls="create-bill-tab-pane" aria-selected="true">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
    </div>
    <div class="col-4 nav-item" role="presentation">
      <button class="nav-link" id="all-bills-tab" data-bs-toggle="tab" data-bs-target="#all-bills-tab-pane" type="button" role="tab" aria-controls="all-bills-tab-pane" aria-selected="true">
        <i class="fa-solid fa-list"></i>
      </button>
    </div>
  </div>

  <div class="tab-content px-2" id="myTabContent">

    <div class="tab-pane fade show active" id="wallet-tab-pane" role="tabpanel" aria-labelledby="wallet-tab" tabindex="0">
      <div class="container h-100 centered-box flex-column rounded-4">
        <h1 class="pt-4 pb-2">My AmigoBank</h1>
          <% if @wallet.balance && @wallet.balance >= 0 %>
            <img src="https://res.cloudinary.com/laura-latuillerie/image/upload/v1662494113/happy_kanye_osjsox.png" height="200">
          <% else %>
            <img src="https://64.media.tumblr.com/tumblr_m320tlkm0Q1rue873o1_400.png" height="200">
          <% end %>

          <% if @wallet.bills.any? %>
            <div class="pb-3 text-center row">
              <div class="col-12">
                <h3 class="text-secondary mt-3 mb-3">Total Balance</h3>
                <p class="text-<% if @wallet.balance && @wallet.balance >= 0 %>success<% else %>danger<% end %> fs-1">
                  <%= @wallet.balance.round(2) %> $
                </p>
              </div>
            </div>
          <% else %>
            <div class="pb-3 text-center">
              <span class="text-danger fs-4 mb-5">No bills yet</span>
            </div>
          <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="create-bill-tab-pane" role="tabpanel" aria-labelledby="create-bill-tab" tabindex="0">
      <%= render "bills/form", trip: @trip, wallet: @wallet, bill: @bill %>
    </div>

    <div class="tab-pane fade" id="all-bills-tab-pane" role="tabpanel" aria-labelledby="alls-bills-tab" tabindex="0">
      <div class="container min-h-100">
        <% if @bills %>
          <h2></h2>
          <% @amigos.each do |amigo| %>
            <%= render "bills/accounts_card", trip: @trip, account: @wallet.account(amigo.id), amigo: amigo %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>