/*****************************************************/
// Input autocomplete for Geocoder
/*****************************************************/

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
}

.mapboxgl-ctrl.mapboxgl-ctrl-geocoder {
  box-shadow: none;
}

.mapboxgl-ctrl-geocoder--input{
  box-shadow: none;
}