.btn-blue, .btn-white{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-blue, .btn-second:hover, .btn-outline-danger:hover, .btn-white:hover, .btn-blue:hover{
  color: white;
}

.btn-blue{
  font-weight: 500;
  border: 1px $dark-blue solid;
  background-color: $dark-blue;
}

.btn-white{
  font-weight: 500;
  background-color: white;
  color: $dark-blue;
}

.btn-white:hover, .btn-blue:hover{
  border: 1px white solid;
}