$gradient-orange: linear-gradient(180deg, rgba(255,146,82,1) 0%, rgba(255,63,21,1) 100%);

.btn-second, .btn-blue{
  font-family: $poppins;
  font-weight: 400;
  border-radius: 30px;
  padding: 8px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-second{
  background-color: white;
  color: $blue;
}

.btn-blue{
  background-color: $blue;
  color: white;
  border: white solid 1px;
}

.btn-second:hover{
  font-weight: 400;
  color: white;
  border: white solid 1px;
}

.btn-blue:hover{
  background-color: $yellow;
  color: $blue;
  font-weight: 400;
  border: transparent solid 1px;
}

.btn-activity{
  height: 100px;
  width: 100px;
  background: rgba(255,146,82,1);
  background: linear-gradient(180deg, rgba(255,146,82,1) 0%, rgba(255,63,21,1) 100%);
  a{
    color: white;
    text-decoration: none;
  }
}