.btn-blue, .btn-white{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-blue, .btn-second:hover, .btn-outline-danger:hover, .btn-white:hover, .btn-blue:hover, .btn-blue-full{
  color: white;
}

.btn-blue{
  border: 1px $dark-blue solid;
  background-color: $dark-blue;
}

.btn-white{
  background-color: white;
  color: $dark-blue;
  border: 0;
}

.btn-white:hover, .btn-blue:hover, .btn-danger{
  border: 1px white solid;
}

.btn-danger, .btn-outline-danger{
  color:white;
}

.btn-blue-full{
  border: 1px $dark-blue solid;
  background-color: $dark-blue;
}

.btn-blue-full:hover{
  border: 1px $dark-blue solid;
  background-color: transparent;
  color: $dark-blue;
}