.trip-form{
    form{
      display: inline-block!important;
    }
  }

input[type=text], input[type=number], select, textarea{
  background-color: white!important;
}

@media (min-width: 576px) { 
  .form-box{
    max-width: 50%;
  }
}