.obj-fit{
  object-fit: cover;
}

#illustration{
  min-width: 200px;
  max-width: 80%;
  margin: 0 auto;
}

#logo{
  width: 120px;
  height: auto;
}


#logo-homepage{
  max-width: 300px;
  padding-top: 40%;
}

.avatar-xs, .avatar-sm, .avatar-md, .avatar-lg{
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
}

.avatar-xs{
  height: 50px;
  width: 50px;
}

.avatar-sm{
  height: 70px;
  width: 70px;
  background-color: white;
}

.avatar-md{
  height: 80px;
  width: 80px;
}

.avatar-lg{
  height: 200px;
  width: 200px;
}

.top-25{
  top: 25%;
}

.activity-img{
  height: 160px;
  width: 100%;
  border-radius: 10px;
}

.trip-card-avatars, .activity-card-avatars, .activity-show-avatars{

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    
  }
    li:nth-child(n+2) { margin-left: -25px; }
    /*
    ul:hover li:nth-child(n+2) {
      margin-left: -25px;
      
  }
  */
  .invite-friend{
    border-radius: 50%;
    object-fit: contain;
    height: 70px;
    width: 70px;
    background-color: rgba(255, 255, 255, 0.408);
  }
  
}

.trip-card-avatars{
  position: relative;
  top : -20px;
}

.activity-card-avatars{
  position: relative;
}

@media (min-width: 576px) {
  #illustration{
    max-width: 400px;
  }

  #logo{
    max-width: 60%;
  }
}
