#illustration{
  min-width: 200px;
  max-width: 90%;
  margin: 0 auto;
}

.avatar-sm, .avatar-md, .avatar-lg{
  border-radius: 50%;
  object-fit: cover;
}

.avatar-sm{
  height: 60px;
  width: 60px;
}

.avatar-md{
  height: 100px;
  width: 100px;
}


.avatar-lg{
  height: 200px;
  width: 200px;
}

.top-25{
  top: 25%;
}

@media (min-width: 576px) { 
  #illustration{
    max-width: 400px;
  }
}