.obj-fit{
  object-fit: cover;
}

#illustration{
  min-width: 200px;
  max-width: 90%;
  margin: 0 auto;
}

#logo{
  max-width: 80%;
}

.avatar-xs, .avatar-sm, .avatar-md, .avatar-lg{
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
}

.avatar-xs{
  height: 50px;
  width: 50px;
}

.avatar-sm{
  height: 70px;
  width: 70px;
  background-color: white;
}

.avatar-md{
  height: 80px;
  width: 80px;
}

.avatar-lg{
  height: 200px;
  width: 200px;
}

.top-25{
  top: 25%;
}

.activity-img{
  height: 160px;
  width: 100%;
}

@media (min-width: 576px) { 
  #illustration{
    max-width: 400px;
  }
  
  #logo{
    max-width: 60%;
  }
}