// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "images";
@import "chatroom";
@import "address_autocomplete";


body{
  position: relative;
  min-height: 100vh;
}

.bg-blue{
  background-color: $blue;
}

.full-h{
  height: 100%;
}
