// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "images";
@import "chatroom";
@import "address_autocomplete";
@import "buttons";
@import "forms";

body{
  height: 100vh;
  
  h1{
    font-family: $poppins;
  }
}

.bg-blue{
  background-color: $blue;
}
