// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "images";
@import "chatroom";
@import "address_autocomplete";
@import "buttons";
@import "forms";
@import "cards";

body{
  height: 100vh;
  position: relative;
  font-family: $poppins;
}

.text-blue{
  color: $blue;
}

.text-yellow{
  color: $yellow;
}

.bg-blue{
  background-color: $blue;
}

.bg-gradient-blue-white {
  background: linear-gradient(180deg, #0066FF 0%, #a2afed 30%, #FFFFFF 70.53%);
  height: 100%;
}

.icon-size{
  font-size: 2rem;
}

.border-sm{
  border-radius: 10px;
}

.text-bg-yellow{
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.383);
  background-color: $yellow;
}