.main-btn {
  background: linear-gradient(145deg, #ffffff, #eeeeee);
  box-shadow:  15px 15px 30px rgba(0, 0, 0, 0.159),
              -15px -15px 30px #ffe5c732;
  font-weight: 500;
  border-radius: 10px;
  height: 120px;
  width: 100%;

  a{
    font-family: $quicksand;
    font-size: 0.9rem;
    color: $dark-blue;
    font-weight: 500;
    text-decoration: none;

    .fa-solid{
      font-size: 2.2rem;
      color: $dark-blue;
    }

  }
}

@media (min-width: 768px) {
  .main-btn{
    width: 100%;
  }
}
/*
.main-btn {
  background: linear-gradient(145deg, #ffffff, #f1f1f1);
  box-shadow:  15px 15px 30px rgba(122, 122, 122, 0.3),
              -15px -15px 30px #ffffff4c;
  font-weight: 400;
  border-radius: 10px;
  height: 130px;
  width: 100%;

  a{
    font-size: 0.9rem;
    font-weight: 500;
    color: grey;
    text-decoration: none;
    text-shadow: 2px 2px solid rgba(0, 0, 0, 0.178);

    .fa-solid{
      font-size: 2.4rem;
      color: $orange;
    }

  }
}
*/