.main-btn {
  background: #fffafa;
  box-shadow:  15px 15px 30px rgba(122, 122, 122, 0.231);
  font-weight: 400;
  border-radius: 10px;
  height: 130px;
  width: 100%;

  a{
    font-size: 0.9rem;
    font-weight: 500;
    color: grey;
    text-decoration: none;
    text-shadow: 2px 2px solid rgba(0, 0, 0, 0.178);

    .fa-solid{
      font-size: 2.4rem;
      color: $orange;
    }

  }
}
