.main-btn {
  background: linear-gradient(145deg, #ffffff, #eeeeee);
  box-shadow:  15px 15px 30px rgba(0, 0, 0, 0.159),
              -15px -15px 30px #ffe5c732;
  font-weight: 500;
  border-radius: 10px;
  height: 120px;
  width: 100%;

  a{
    font-family: $quicksand;
    font-size: 0.9rem;
    color: $dark-blue;
    font-weight: 600;
    text-decoration: none;

    .fa-solid{
      font-size: 2.2rem;
      color: $dark-blue;
    }
    
  a:hover{
    color: $dark-blue;
  }
    

  }
}

.main-btn:hover{
  .fa-solid{
    font-size: 2.4rem;
  }
  a:hover{
    font-weight: bolder;
    color: $dark-blue;
  }
}

@media (min-width: 768px) {
  .main-btn{
    width: 100%;
  }
}