/*****************************************************/
// Mapbox pop-up (when clicking on marker)
/*****************************************************/

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/*****************************************************/
// Mapbox pop-up (when clicking on marker)
/*****************************************************/

//Changing the size of the map for it to be full-sized for index activities map
.mapboxgl-canvas{
  width: auto!important;
  height: 500px!important;
}

// Hiding the search bar of the map because we don't need it lol
.mapboxgl-ctrl-top-right{
  visibility: hidden!important;
  display: none!important;
}
