.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-canvas{
  width: auto!important;
  height: 500px!important;
}

.mapboxgl-ctrl-top-right{
  visibility: hidden!important;
  display: none!important;
}