/*****************************************************/
// Mapbox pop-up (when clicking on marker)
/*****************************************************/
.mapboxgl-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

// Hiding the search bar of the map because we don't need it lol
.mapboxgl-ctrl-top-right{
  visibility: hidden!important;
  display: none!important;
}