/*****************************************************/
// Navbar (home, chat, notifs, user) -> stick to bottom
/*****************************************************/

.navbar-expand{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-nav{
  padding: 0!important;
}

.nav-link, .navbar-brand{
  color: $dark-grey;
  font-size: 1.4em;
  border-color: transparent;
}

// Position of dropdown menu popup when opening (for user options)

.dropdown-menu[data-bs-popper] {
  top: -125px;
}

/*****************************************************/
// Navbar Activity with tabs
/*****************************************************/

.tabs-activity{
  background: $blue;
  background: $gradient-blue;
  box-shadow: 0px 10px 20px rgba(117, 152, 233, 0.3);

  .nav-link{
    font-size: 1rem;
    border:0;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    color: white;
  }

  .active{
    background: $blue;
    background: $gradient-blue;
    margin: 0;
    border-radius: 15px 0 0 15px;
    i{
      color: white;
    }
  }

  .nav{
    padding: 10px;
  }

  #all-activities-tab{
    border-radius: 10px;
  }
}

/*****************************************************/
// Navbar TRIP with tabs
/*****************************************************/

.tabs-trip{
  background: $blue;
  background: $gradient-blue;
  box-shadow: 0px 10px 20px rgba(117, 152, 233, 0.3);


  .nav-link{
    font-size: 1rem;
    border:0;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    color: white;
  }

  .active{
    background: $blue;
    background: $gradient-blue;
    margin: 0;
    border-radius: 15px 0 0 15px;
    i{
      color: white;
    }
  }

  .nav{
    padding: 10px;
  }

  #trip-users-tab{
    border-radius: 10px;
  }
}

/*****************************************************/
// Navbar BANK with tabs
/*****************************************************/

.tabs-bank{
  background: $blue;
  background: $gradient-blue;
  box-shadow: 0px 10px 20px rgba(117, 152, 233, 0.3);

  .nav-link{
    font-size: 1rem;
    border:0;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    color: white;
  }

  .active{
    background: $blue;
    background: $gradient-blue;
    margin: 0;
    border-radius: 15px 0 0 15px;
    i{
      color: white;
    }
  }

  .nav{
    padding: 10px;
  }

  #wallet-tab{
    border-radius: 10px;
  }
}

/*****************************************************/
// Navbar Chatroom with Tabs
/*****************************************************/

.nav-chatroom{
  .nav-link{
    font-size: 1rem;
    border-radius: 10px;
  }
}
