/*****************************************************/
// Navbar (home, chat, notifs, user) -> stick to bottom
/*****************************************************/

.navbar-expand{
  background-color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-nav{
  padding: 0!important;
}

.nav-link, .navbar-brand{
  color: $dark-grey;
  font-size: 1.4em;
  border-color: transparent;
}

// Position of dropdown menu popup when opening (for user options)

.dropdown-menu[data-bs-popper] {
  top: -125px;
}

/*****************************************************/
// Navbars with tabs
/*****************************************************/

.nav-tabs{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tabs-activity, .tabs-trip, .tabs-bank{
  background: white;

  .nav-link{
    font-size: 1rem;
    border:0;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    color: white;
  }

  .active{
    background-color: rgb(194, 177, 255);
    margin: 0;
  }

  .nav{
    padding: 10px;
  }
}

/*****************************************************/
// Navbar TRIP with tabs
/*****************************************************/

.tabs-trip{
  #trip-users-tab{
    border-radius: 10px;
  }
}

/*****************************************************/
// Navbar BANK with tabs
/*****************************************************/

.tabs-bank{
  #wallet-tab{
    border-radius: 10px;
  }
}

/*****************************************************/
// Navbar Chatroom with Tabs
/*****************************************************/

.nav-chatroom{
  .nav-link{
    font-size: 0.9rem;
    padding : 8px;
    border-radius: 10px;
    color:white;
  }
  .nav-pills, .nav-link.active{
    background-color: $dark-blue;
  }
}

/*****************************************************/
// Navbar Bill with Tabs
/*****************************************************/

#bank-pills-tab{

  #debit-tab, #credit-tab{
    font-weight: 500;
    font-size: 1rem;
    border-radius: 30px;
  }
  #credit-tab, #debit-tab{
    background-color: $light-transparent;
    border: $dark-blue 1px solid;
    color: $dark-blue;
  }
  #credit-tab:hover, #credit-tab.active, #debit-tab:hover, #debit-tab.active{
    background-color: white;
    border: transparent 1px solid;
    color: $dark-blue;
  }
}
