<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-sm-6 grey-bg p-5 rounded-4">
      <div class="text-center">
        <h1>Update an Activity</h1>
        <hr>
      </div>

      <%= render "form", trip: @trip, activity: @activity %>
    </div>
  </div>
</div>
