<h1>"ACTIVITIES"</h1>
<%= ENV['MAPBOX_URL'] %>
<%= @activities.count %>
<div style="width: 50%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_URL'] %>"></div>
